h1, h2 ,h3 ,h4 ,h5, h6{
	line-height: initial;
}

nav .widget_search {
		width: 100%;
		text-align: center;
	}

.searchform button {
	padding-left: 1em;
}

.post_category, .post_tags {
	padding: 10px 0px;
}

.post_category a, .post_tags a, .post_writer a {
	padding: 5px 5px;
	margin: 2px;
	color: white;
	background-color: #39e;
	border-radius: 3px;
	display: inline-block;
}

.post_thumbnail {
	text-align: center;
}

.navigation a{
	padding: 5px 5px;
	margin: 2px;
	color: white;
	background-color: #39e;
	border-radius: 3px;
}

.container_thumbnail{
	position:relative;
}

.post_preview {
	margin: 0px;
}

.right_sidebar {
	border-top: .2em solid #f93;
	margin-top: 20px;
	text-align: center;
	padding-top: 1em;
}

.widget_categories label{
	display: none;
}

.widget_categories select{
	-webkit-appearance: none;
	background-color: #39e;
	border: 0px;
	padding: 8px 20px;
	padding-left: 25%;
}

.widget_categories *{
	text-align: center;
}

.e404{
	width: 100%;
}




/* smartpone lanscape */
/*@media(max-width: 360px) {*/
@media(max-width: 640px) {
	nav .menu {
		display: inline;
		padding:0px;
	}

	nav .widget_search{
		position: relative;
		width: 100%
	}

	nav li {
		display: block;
	}

	.navigation {
		padding: 1em 0px;
	}

	.author_title span{
		display: block;
	}
	
	.container_thumbnail {
		text-align: center;
	}
	
	.comment-form #comment {
		width: 100%;
		display: block;
	}
}
